<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Sinatra</title>
  </head>
  <body>


    <%= yield %>

    <footer>&copy; Bebop Cola incorporated  "Well hello, consumer, yes hello consumer bop bop bop bop be da bup bebop cola yeah"</footer>
  </body>
</html>
